<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="pull-left">
          Copyright &copy; Philipp John (JPlace) <a href="https://www.jplace.de" target="_blank">www.jplace.de</a>
        </span>
        <span class="pull-right">
          Wargaming - 
          <a href="https://developers.wargaming.net/documentation/guide/getting-started/" target="_blank">API Reference</a> |
          <a href="https://developers.wargaming.net/documentation/rules/rules/" target="_blank">Terms and Policies</a> |
          <a href="https://developers.wargaming.net/documentation/rules/agreement/" target="_blank">EULA</a>
        </span>
      </div>
    </div>
  </div>
</footer>
