<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <span>
          Copyright &copy; Philipp John (JPlace) <a href="https://www.jplace.de" target="_blank">www.jplace.de</a> |
          <a href="https://github.com/JohnnyDevNull/wg-clan-member-records" target="_blank">GitHub Project</a> |
          <a routerLink="privacy-policy">Privacy Policy</a>
          <br>Copyright &copy; Wargaming.net - 
          <a href="https://developers.wargaming.net/documentation/guide/getting-started/" target="_blank">API Reference</a> |
          <a href="https://developers.wargaming.net/documentation/rules/agreement/" target="_blank">Terms and Policies</a>
          <br>This is application is a third-party tool under Wargaming Developers Partner Program.</span>
      </div>
    </div>
  </div>
</footer>
