<div class="row" *ngIf="clanList">
  <div class="col">
      <table class="table table-striped">
          <colgroup>
              <col style="width: 150px">
              <col style="width: 150px" />
              <col />
              <col style="width: 50px" />
          </colgroup>
          <thead>
              <tr>
                  <th>Clan-ID</th>
                  <th>Tag</th>
                  <th>Name</th>
                  <th>#</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of clanList.data">
                  <td>{{ item.clan_id }}</td>
                  <td>{{ item.tag }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                      <a [routerLink]="['/', 'clan', item.clan_id]">
                          <i class="fa fa-search"></i>
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
