<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-inline"
            style="margin-bottom: 10px">
        <input
          class="form-control mr-sm-2"
          type="search"
          name="search"
          placeholder="{{ type === 'players' ? 'Spieler' : 'Clans' }}"
          [(ngModel)]="lastSearchValue"
          #searchValue>
        <button class="btn btn-primary"
          (click)="onSearchClick(searchValue.value)">
          Search
        </button>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
