<div class="row">
  <div class="col">
    <div class="btn-group btn-group-toggle nav-battle-types"
         ngbRadioGroup
         name="radioBasic"
         [(ngModel)]="battleType">
      <label ngbButtonLabel class="btn-secondary btn">
        <input ngbButton type="radio" [value]="1"> Battles
      </label>
      <label ngbButtonLabel class="btn-secondary btn">
        <input ngbButton type="radio" [value]="2"> Max Damage
      </label>
      <label ngbButtonLabel class="btn-secondary btn">
        <input ngbButton type="radio" value="3"> Winrate
      </label>
      <label ngbButtonLabel class="btn-secondary btn">
        <input ngbButton type="radio" [value]="4"> Kills
      </label>
      <label ngbButtonLabel class="btn-secondary btn">
        <input ngbButton type="radio" [value]="5"> Planes Killed
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" id="members" *ngIf="clanData.members && memberStats">
    <table class="table">
      <colgroup>
        <col style="width: 60px">
        <col>
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 120px">
        <col style="width: 40px">
      </colgroup>
      <tr>
        <th class="text-right">Rank</th>
        <th class="text-left">Name</th>
        <th class="text-right">Battles</th>
        <th class="text-right">PvP</th>
        <th class="text-right">PvP Solo</th>
        <th class="text-right">PvP Div2</th>
        <th class="text-right">PvP Div3</th>
        <th class="text-right">PvE</th>
        <th class="text-right">Club</th>
        <th class="text-right">Rank Solo</th>
        <th>#</th>
      </tr>
      <tr *ngFor="let memberStat of memberStats.member_stats; let i = index">
        <td class="text-right">{{ i + 1 }}</td>
        <td class="text-left">{{getMemberInfo(memberStat.account_id).account_name}}</td>
        <td class="text-right">{{ memberStat.battles | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('pvp', memberStat) | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('pvp_solo', memberStat) | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('pvp_div2', memberStat) | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('pvp_div3', memberStat) | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('pve', memberStat) | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('club', memberStat) | number:'0.0-2' }}</td>
        <td class="text-right">{{ getFieldValue('rank_solo', memberStat) | number:'0.0-2' }}</td>
        <td>
          <a [routerLink]="['/player/', memberStat.account_id]">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
