<div class="row">
  <div class="col">
    <h4>Siegrate</h4>
    <table class="table">
      <tr><th>PVE:</th><td class="text-right">{{ getWinRate('pve') | number:'0.0-2' }}</td></tr>
      <tr><th>PVP:</th><td class="text-right">{{ getWinRate('pvp') | number:'0.0-2' }}</td></tr>
      <tr><th>PVP Div2:</th><td class="text-right">{{ getWinRate('pvp_div2') | number:'0.0-2' }}</td></tr>
      <tr><th>PVP Div3:</th><td class="text-right">{{ getWinRate('pvp_div3') | number:'0.0-2' }}</td></tr>
      <tr><th>PVP Solo:</th><td class="text-right">{{ getWinRate('pvp_solo') | number:'0.0-2' }}</td></tr>
      <tr><th>Rank Solo:</th><td class="text-right">{{ getWinRate('rank_solo') | number:'0.0-2' }}</td></tr>
      <tr><th>Club:</th><td class="text-right">{{ getWinRate('club') | number:'0.0-2' }}</td></tr>
    </table>
  </div>
  <div class="col">
    <h4>Schaden Durschn.</h4>
    <table class="table">
      <tr><th>PVE:</th><td class="text-right">{{ getAvg('pve', 'damage') | number:'0.0-0' }}</td></tr>
      <tr><th>PVP:</th><td class="text-right">{{ getAvg('pvp', 'damage') | number:'0.0-0' }}</td></tr>
      <tr><th>PVP Div2:</th><td class="text-right">{{ getAvg('pvp_div2', 'damage') | number:'0.0-0' }}</td></tr>
      <tr><th>PVP Div3:</th><td class="text-right">{{ getAvg('pvp_div3', 'damage') | number:'0.0-0' }}</td></tr>
      <tr><th>PVP Solo:</th><td class="text-right">{{ getAvg('pvp_solo', 'damage') | number:'0.0-0' }}</td></tr>
      <tr><th>Rank Solo:</th><td class="text-right">{{ getAvg('rank_solo', 'damage') | number:'0.0-0' }}</td></tr>
      <tr><th>Club:</th><td class="text-right">{{ getAvg('club', 'damage') | number:'0.0-0' }}</td></tr>
    </table>
  </div>
  <div class="col">
    <h4>Schaden Max.</h4>
    <table class="table">
      <tr><th>PVE:</th><td class="text-right">{{ (getFieldValue('pve', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
      <tr><th>PVP:</th><td class="text-right">{{ (getFieldValue('pvp', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
      <tr><th>PVP Div2:</th><td class="text-right">{{ (getFieldValue('pvp_div2', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
      <tr><th>PVP Div3:</th><td class="text-right">{{ (getFieldValue('pvp_div3', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
      <tr><th>PVP Solo:</th><td class="text-right">{{ (getFieldValue('pvp_solo', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
      <tr><th>Rank Solo:</th><td class="text-right">{{ (getFieldValue('rank_solo', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
      <tr><th>Club:</th><td class="text-right">{{ (getFieldValue('club', 'max_damage_dealt')) | number:'0.0-0' }}</td></tr>
    </table>
  </div>
</div>
<app-pd-charts></app-pd-charts>
