<div class="container" *ngIf="playerData">
  <div id="playerHeader" class="row">
    <div class="col border-bottom">
      <h3>{{ playerData.nickname }}</h3>
    </div>
  </div>
  <div id="playerMeta" class="row">
    <div class="col">
      <small class="text-muted">
        Account-ID: {{ playerId }}, 
        erstellt am: {{ playerData.created_at * 1000 | date: 'dd.MM.yyyy hh:mm:ss' }}, 
        zuletzt aktualisiert: {{ playerData.updated_at * 1000 | date: 'dd.MM.yyyy hh:mm:ss' }}
      </small>
    </div>
  </div>
  <div id="playerStats" class="row">
    <div class="col">
      <h4>Siegrate</h4>
      <table class="table">
        <tr><th>PVE:</th><td>{{ getWinRate('pve') | number }}</td></tr>
        <tr><th>PVP:</th><td>{{ getWinRate('pvp') | number }}</td></tr>
        <tr><th>PVP Div2:</th><td>{{ getWinRate('pvp_div2') | number }}</td></tr>
        <tr><th>PVP Div3:</th><td>{{ getWinRate('pvp_div3') | number }}</td></tr>
        <tr><th>PVP Solo:</th><td>{{ getWinRate('pvp_solo') | number }}</td></tr>
        <tr><th>Rank Solo:</th><td>{{ getWinRate('rank_solo') | number }}</td></tr>
        <tr><th>Club:</th><td>{{ getWinRate('club') | number }}</td></tr>
      </table>
    </div>
    <div class="col">
      <h4>Schaden Durschn.</h4>
      <table class="table">
        <tr><th>PVE:</th><td>{{ getDamageAvg('pve') | number }}</td></tr>
        <tr><th>PVP:</th><td>{{ getDamageAvg('pvp') | number }}</td></tr>
        <tr><th>PVP Div2:</th><td>{{ getDamageAvg('pvp_div2') | number }}</td></tr>
        <tr><th>PVP Div3:</th><td>{{ getDamageAvg('pvp_div3') | number }}</td></tr>
        <tr><th>PVP Solo:</th><td>{{ getDamageAvg('pvp_solo') | number }}</td></tr>
        <tr><th>Rank Solo:</th><td>{{ getDamageAvg('rank_solo') | number }}</td></tr>
        <tr><th>Club:</th><td>{{ getDamageAvg('club') | number }}</td></tr>
      </table>
    </div>
    <div class="col">
      <h4>Schaden Max.</h4>
      <table class="table">
        <tr><th>PVE:</th><td>{{ (playerData.statistics.pve.max_damage_dealt) | number }}</td></tr>
        <tr><th>PVP:</th><td>{{ (playerData.statistics.pvp.max_damage_dealt) | number }}</td></tr>
        <tr><th>PVP Div2:</th><td>{{ (playerData.statistics.pvp_div2.max_damage_dealt) | number }}</td></tr>
        <tr><th>PVP Div3:</th><td>{{ (playerData.statistics.pvp_div3.max_damage_dealt) | number }}</td></tr>
        <tr><th>PVP Solo:</th><td>{{ (playerData.statistics.pvp_solo.max_damage_dealt) | number }}</td></tr>
        <tr><th>Rank Solo:</th><td>{{ (playerData.statistics.rank_solo.max_damage_dealt) | number }}</td></tr>
        <tr><th>Club:</th><td>{{ (playerData.statistics.club.max_damage_dealt) | number }}</td></tr>
      </table>
    </div>
  </div>
</div>
