<div class="row mb-2">
  <div class="col">
    <div class="btn-group btn-group-toggle"
         ngbRadioGroup
         name="detailModeSwitch"
         [(ngModel)]="selectedMode">
      <label ngbButtonLabel
             class="btn-secondary btn-sm"
             *ngFor="let gameMode of gameModes">
        <input ngbButton
               type="radio"
               [value]="gameMode.key"> {{gameMode.name}}
      </label>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <h5>Gesamtergebnisse</h5> 
    <table class="table">
      <tr><td>Gefechte</td><td class="text-right">{{ +getFieldValue('battles') | number }}</td></tr>
      <tr><td>Siege</td><td class="text-right">{{ +getFieldValue('wins') | number }} <small>({{ getWinRate(selectedMode) | number:'0.0-2' }} %)</small></td></tr>
      <tr><td>Überlebte Gefechte</td><td class="text-right">{{ +getFieldValue('survived_battles') | number }}</td></tr>
      <tr><td>Überlebte Siege</td><td class="text-right">{{ +getFieldValue('survived_wins') | number }}</td></tr>
      <tr><td>Genauigkeit</td><td class="text-right">{{ getHitRatioOverall(selectedMode) | number:'0.0-2' }} %</td></tr>
      <tr><td>Schaden verursacht</td><td class="text-right">{{ +getFieldValue('damage_dealt') | number }}</td></tr>
      <tr><td>Zerstörte Kriegsschiffe</td><td class="text-right">{{ +getFieldValue('frags') | number }}</td></tr>
      <tr><td>Flugzeuge abgeschossen</td><td class="text-right">{{ +getFieldValue('planes_killed') | number }}</td></tr>
      <tr><td>Gefahrener Meilen</td><td class="text-right">{{ +getMainFieldValue('distance') | number }}</td></tr>
    </table>
  </div>
  <div class="col">
    <h5>Persönliche Rekorde</h5>
    <table class="table">
      <tr><td>Erfahrung</td><td class="text-right">{{ +getFieldValue('max_xp') | number }}</td></tr>
      <tr><td>Schaden verursacht</td><td class="text-right">{{ +getFieldValue('max_damage_dealt') | number }}</td></tr>
      <tr><td>Zertörte Kriegsschiffe</td><td class="text-right">{{ +getFieldValue('max_frags_battle') | number }}</td></tr>
      <tr><td>Flugzeuge abgeschossen</td><td class="text-right">{{ +getFieldValue('max_planes_killed') | number }}</td></tr>
    </table>
    <h5>Durchschnitt je Gefecht</h5>
    <table class="table">
      <tr><td>Erfahrung</td><td class="text-right">{{ getAvg(selectedMode, 'xp') | number:'0.0-0' }}</td></tr>
      <tr><td>Schaden verursacht</td><td class="text-right">{{ getAvg(selectedMode, 'damage') | number:'0.0-0' }}</td></tr>
      <tr><td>Zertörte Kriegsschiffe</td><td class="text-right">{{ getAvg(selectedMode, 'frags') | number:'0.0-2' }}</td></tr>
      <tr><td>Flugzeuge abgeschossen</td><td class="text-right">{{ getAvg(selectedMode, 'planes') | number:'0.0-2' }}</td></tr>
    </table>
  </div>
  <div class="col">
    <h5>Kriegsschiffe versenkt</h5>
    <table class="table">
      <tr><td>Hauptbatterie</td><td class="text-right">{{ getFieldValue('main_battery').frags }}</td></tr>
      <tr><td>Torpedos</td><td class="text-right">{{ getFieldValue('torpedoes').frags }}</td></tr>
      <tr><td>Sekundärbatterie</td><td class="text-right">{{ getFieldValue('second_battery').frags }}</td></tr>
      <tr><td>Flugzeuge</td><td class="text-right">{{ getFieldValue('aircraft').frags }}</td></tr>
      <tr><td>Rammen</td><td class="text-right">{{ getFieldValue('ramming').frags }}</td></tr>
    </table>
    <h5>Kriegsschiffe versenkt (max. i.e. Gefecht)</h5>
    <table class="table">
      <tr><td>Hauptbatterie</td><td class="text-right">{{ getFieldValue('main_battery').max_frags_battle }}</td></tr>
      <tr><td>Torpedos</td><td class="text-right">{{ getFieldValue('torpedoes').max_frags_battle }}</td></tr>
      <tr><td>Sekundärbatterie</td><td class="text-right">{{ getFieldValue('second_battery').max_frags_battle }}</td></tr>
      <tr><td>Flugzeuge</td><td class="text-right">{{ getFieldValue('aircraft').max_frags_battle }}</td></tr>
      <tr><td>Rammen</td><td class="text-right">{{ getFieldValue('ramming').max_frags_battle }}</td></tr>
    </table>
  </div>
</div>
