<div class="container" *ngIf="clanData">

  <div class="row">
    <div class="col border-bottom">
      <h3>[{{ clanData.tag }}] {{ clanData.name }}</h3>
    </div>
  </div>
 
  <div id="clanMeta" class="row mb-2">
    <div class="col">
      <small class="text-muted">
        Clan-ID: {{ clanId }}, 
        erstellt am: {{ clanData.created_at * 1000 | date: 'dd.MM.yyyy hh:mm:ss' }}, 
        zuletzt aktualisiert: {{ clanData.updated_at * 1000 | date: 'dd.MM.yyyy hh:mm:ss' }}
      </small>
    </div>
  </div>

  <div id="clanTabNav" class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="['/clan', clanId, 'member-list']">Mitglieder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="['/clan', clanId, 'member-stats']">Rekorde</a>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-grid-pulse">
</ngx-spinner>
