<div class="row" *ngIf="playersList">
  <div class="col">
      <table class="table table-striped">
          <colgroup>
              <col style="width: 150px" />
              <col />
              <col style="width: 50px" />
          </colgroup>
          <thead>
              <tr>
                  <th>Account-ID</th>
                  <th>Nickname</th>
                  <th>#</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of playersList.data">
                  <td>{{ item.account_id }}</td>
                  <td>{{ item.nickname }}</td>
                  <td>
                      <a [routerLink]="['/', 'player', item.account_id]">
                          <i class="fa fa-search"></i>
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
